{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia: Add a new page
{% endblock %}

{% block body %}
<h2> Add a new entry </h2>

<h3> {{err}} </h3>
<form action="{% url 'newpage' %}">
    <label for="title">Title</label>
    <input id= "title" name="title" type="text" label = "Title" placeholder="Entry Title" value = {{title}}>
    <input type="submit" value="Submit">
    <textarea id="text-area" name = "text-area" placeholder="Description" > {{text}} </textarea>
</form>


{% endblock %}